<!-- templates/clientes.html -->

{% extends 'base.html' %}
{% load static %}

{% block contenidoquecambia %}
{% block content %}
  <h2>Lista de Clientes</h2>
  <table>
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Email</th>
        <th>Telefono</th>
      </tr>
    </thead>
    <tbody>
      {% for cli in clientes %}
        <tr>
          <td>{{ cli.nombre }}</td>
          <td>{{ cli.email }}</td>
          <td>+51 {{ cli.telefono }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <p></p>
{% endblock %}
{% block title %}
<h2>Ingrese Nuevo Cliente</h2>
<p></p>
{% endblock %}

{% block content2 %}
{% if formcliente.error %}
<p style="color: red">Estan mal los datos, revisar</p>
{% endif %}
<form action="/clientes/"   method="post">{% csrf_token %}
    <p> Nombre: <input type="text" name="nombre">
    <p> Email: <input type="text" name="email"> 
    <p> Telefono: <input type="text" name="telefono"> 
    <input type="submit" value="Enviar">
    </form>
{% endblock %}

{% endblock contenidoquecambia %}