{% extends 'base.html' %}
{% load static %}

{% block contenidoquecambia %}
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-6">
        <h2 class="mb-4">Lista de Clientes</h2>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Nombre</th>
              <th scope="col">Email</th>
              <th scope="col">Telefono</th>
              {% if user.is_authenticated %}
              <th scope="col">Acciones</th>
              {% endif %}
            </tr>
          </thead>
          <tbody>
            {% for cli in clientes %}
              <tr>
                <td>{{ cli.nombre }}</td>
                <td>{{ cli.email }}</td>
                <td>+51 {{ cli.telefono }}</td>
                {% if user.is_authenticated %}
                  <td>
                    <form method="post" action="{% url 'eliminar_cliente' cli.id %}">
                      {% csrf_token %}
                      <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
                    </form>
                  </td>
                  <td>
                    <a href="{% url 'editar_cliente' cli.id %}" class="btn btn-primary btn-sm">Editar</a>
                  </td>
                {% endif %}
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="col-md-6">
        <h2 class="mb-4">Ingrese Nuevo Cliente</h2>
        {% if formcliente.error %}
          <div class="alert alert-danger">
            <p style="color: red">Están mal los datos, revisar</p>
          </div>
        {% endif %}
        <form action="/clientes/" method="post" class="mt-3">
          {% csrf_token %}
          <div class="mb-3">
            {{ formcliente.nombre.label_tag }}
            {{ formcliente.nombre }}
          </div>
          <div class="mb-3">
            {{ formcliente.email.label_tag }}
            {{ formcliente.email }}
          </div>
          <div class="mb-3">
            {{ formcliente.telefono.label_tag }}
            {{ formcliente.telefono }}
          </div>
          <button type="submit" class="btn btn-success">Enviar</button>
        </form>
      </div>
    </div>
  </div>
{% endblock contenidoquecambia %}
