{% extends 'base2.html' %}
{% load static %}

{% block contenidoquecambia %}
  <div class="container mt-5">
    <h2>Editar Producto</h2>
    <form method="post" action="{% url 'editar_producto' producto.id %}">
      {% csrf_token %}
      <div class="mb-3">
        {{ form.nombre.label_tag }}
        {{ form.nombre }}
      </div>
      <div class="mb-3">
        {{ form.descripcion.label_tag }}
        {{ form.descripcion }}
      </div>
      <div class="mb-3">
        {{ form.precio.label_tag }}
        {{ form.precio }}
      </div>
      <button type="submit" class="btn btn-success">Guardar Cambios</button>
    </form>
  </div>
{% endblock contenidoquecambia %}
