{% extends 'base2.html' %}
{% load static %}

{% block contenidoquecambia %}
  <div class="container mt-5">
    <h2>Editar Pedido</h2>
    <form method="post" action="{% url 'editar_pedido' pedido.id %}">
      {% csrf_token %}
      <div class="mb-3">
        {{ form.producto.label_tag }}
        {{ form.producto }}
      </div>
      <div class="mb-3">
        {{ form.cantidad.label_tag }}
        {{ form.cantidad }}
      </div>
      <div class="mb-3">
        {{ form.precio.label_tag }}
        {{ form.precio }}
      </div>
      <div class="mb-3">
        {{ form.cliente.label_tag }}
        {{ form.cliente }}
      </div>
      <button type="submit" class="btn btn-success">Guardar Cambios</button>
    </form>
  </div>
{% endblock contenidoquecambia %}
