{% extends 'base2.html' %}
{% load static %}

{% block contenidoquecambia %}
  <div class="container mt-5">
    <h2>Editar Proveedor</h2>
    <form method="post" action="{% url 'editar_proveedor' proveedor.id %}">
      {% csrf_token %}
      <div class="mb-3">
        {{ form.nombre.label_tag }}
        {{ form.nombre }}
      </div>
      <div class="mb-3">
        {{ form.direccion.label_tag }}
        {{ form.direccion }}
      </div>
      <div class="mb-3">
        {{ form.telefono.label_tag }}
        {{ form.telefono }}
      </div>
      <button type="submit" class="btn btn-success">Guardar Cambios</button>
    </form>
  </div>
{% endblock contenidoquecambia %}
