<!-- templates/pedidos.html -->

{% extends 'base.html' %}
{% load static %}

{% block contenidoquecambia %}
{% block title %}
<h2>Ingrese Pedido</h2>
<p></p>
{% endblock title %}
{% block content %}
{% if formpedido.error %}
<p style="color: red">Estan mal los datos, revisar</p>
{% endif %}
<form action="/pedidos/"   method="post">{% csrf_token %}
    <table>
        {{formpedido.as_table}}
    </table>

    <input type="submit" value="Enviar">
</form>
{% endblock content %}
{% endblock contenidoquecambia %}
