{% extends 'base.html' %}
{% load static %}

{% block contenidoquecambia %}
  {% block content %}
    <div class="container mt-4">
      <h2>Lista de Productos</h2>
      <table class="table">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Precio</th>
            {% if user.is_authenticated %}
              <th>Acciones</th>
            {% endif %}
          </tr>
        </thead>
        <tbody>
          {% for pro in productos %}
            <tr>
              <td>{{ pro.nombre }}</td>
              <td>{{ pro.descripcion }}</td>
              <td>S/.{{ pro.precio }}</td>
              {% if user.is_authenticated %}
                <td>
                  <!-- Mueve el formulario dentro del bucle -->
                  <form method="post" action="{% url 'eliminar_producto' pro.id %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
                  </form>
                </td>
                <td>
                  <!-- Agrega un enlace para la acción de editar -->
                  <a href="{% url 'editar_producto' pro.id %}" class="btn btn-primary btn-sm">Editar</a>
                </td>
              {% endif %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <p></p>
    </div>
  {% endblock %}

  {% block title2 %}
    <div class="container mt-4">
      <h2>Ingrese Nuevo Producto</h2>
    </div>
  {% endblock title2 %}

  {% block content2 %}
    <div class="container mt-4">
      {% if formproducto.errors %}
        <p style="color: red">Hay errores en los datos. Por favor, revíselos.</p>
      {% endif %}
      <form action="/productos/" method="post">
        {% csrf_token %}
        <table class="table">
          {{ formproducto.as_table }}
        </table>
        <button type="submit" class="btn btn-success">Enviar</button>
      </form>
    </div>
  {% endblock content2 %}
{% endblock contenidoquecambia %}
