<!-- templates/productos.html -->

{% extends 'base.html' %}
{% load static %}

{% block contenidoquecambia %}
{% block content %}
  <h2>Lista de Productos</h2>
  <table>
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Precio</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for pro in productos %}
        <tr>
          <td>{{ pro.nombre }}</td>
          <td>{{ pro.descripcion }}</td>
          <td>S/.{{ pro.precio }}</td>
          <td>
            <!-- Mueve el formulario dentro del bucle -->
            <form method="post" action="{% url 'eliminar_producto' pro.id %}">
              {% csrf_token %}
              <button type="submit">Eliminar</button>
            </form>
          </td>
          <td>
            <!-- Agrega un enlace para la acción de editar -->
            <a href="{% url 'editar_producto' pro.id %}">Editar</a>
        </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <p></p>
{% endblock %}

{% block title2 %}
<h2>Ingrese Nuevo Producto</h2>
<p></p>
{% endblock title2 %}

{% block content2 %}

{% if formproducto.errors %}
<p style="color: red">Estan mal los datos, revisar</p>
{% endif %}

<form action="/productos/"   method="post">{% csrf_token %}
    <table>
        {{formproducto.as_table}}
    </table>

    <input type="submit" value="Enviar">
</form>
{% endblock content2 %}

{% endblock contenidoquecambia %}